body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    color: #3a638a;
}

.header-wrapper {
   background-color: #ffffff;
   color:#3a638a;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   padding: 50px 20px;
}

.header-wrapper-2 {
    background-color: #ffffff;
    color:#3a638a;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: none;
 }

.header-styles {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
}

.header-styles-2 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    padding: 20px;
}

.header-paragraph {
    font-size: 20px;
    width: 600px;
    text-align: center;
}

.center-column {
    display: flex;
    grid-template-columns: 1fr;
    row-gap: 42px;
    width: 500px;
    text-align: center;
}

.link-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.nav-link {
    width: 140px;
    font-size: 25px;
    text-align: center;
    padding: 50px;
}

.link-wrapper a {
    font-family: 'Oswald', sans-serif;
    color: #3a638a;
    text-decoration: none;
    transition: 0.5s;
}

.link-wrapper a:hover {
   color: #21374d;
   letter-spacing: 2px;
}

.right-column {
   display: flex;
   align-items: center;
   text-align: right;
}

.homepage {
    background-image: url(assets/dandelion.jpg);
    padding: 0px;
    height: 425px;
    background-size: cover;
    background-position: center;
    border-top: 10px solid #21374d;
    /*Photo by Aleksandr Ledogorov on Unsplash*/
}

.features-section {
    height: 400px;
    background-color: #ffffff;
    border-top: 10px solid #21374d;    
    color: #3a638a;
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    box-shadow: inset 0px -25px 79px -8px rgba(0,0,0,0.58);
}

.columns-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.column-1 {
    padding: 0px;
    margin: 40px 0px 0px 0px;
    text-align: center;
    font-size:  12px;
    justify-content: center;
}

.column-2 {
    padding: 0px;
    margin: 40px 0px 0px 0px;
    text-align: center;
    font-size:  12px;
}

.social-media-links {
    font-family: 'Oswald', sans-serif;
    color: #3a638a;
    font-size: 50px;
    text-decoration: none;
    display: flex;
    width: 1200px;
    position: absolute;
    z-index: 2;
    justify-content: space-evenly;
    padding: 250px 0px 0px 0px;
}

.social-media-links a {
    font-family: 'Oswald', sans-serif;
    color: #3a638a;
    text-decoration: none;
    transition: 0.5s;
}

.social-media-links a:hover {
    color: #21374d;
    letter-spacing: 2px;
}

.social-media-links-2 {
    font-family: 'Oswald', sans-serif;
    color: #3a638a;
    font-size: 25px;
    display: flex;
    width: 1200px;
    position: absolute;
    z-index: 2;
    justify-content: space-evenly;
    padding: 200px 0px 0px 0px;
}

.social-media-links-3 {
    font-family: 'Oswald', sans-serif;
    color: #3a638a;
    font-size: 25px;
    display: flex;
    z-index: 2;
    justify-content: space-evenly;
}

.social-media-links-4 {
    font-family: 'Oswald', sans-serif;
    color: #3a638a;
    font-size: 50px;
    text-decoration: none;
    display: flex;
    width: 1200px;
    position: absolute;
    z-index: 2;
    justify-content: space-evenly;
    padding: 100px 0px 0px 0px;
}

.social-media-links-4 a {
    font-family: 'Oswald', sans-serif;
    color: #3a638a;
    text-decoration: none;
    transition: 0.5s;
}

.tami-pic {
    padding: 10px;
    margin: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    border: 1px solid #8a817c;
    box-shadow: 2px 4px 7px #8a817c;
}

  h1.about-heading {
    width: 400px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  .nav-link-2 a {
    width: 245px;
    font-size: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif; 
    color: #3a638a;
    text-decoration: none;
    transition: 0.5s;
}

.nav-link-2 a:hover {
    color: #21374d;
    letter-spacing: 2px;
}

.nav-link-3 {
    width: 245px;
    font-size: 20px;
    justify-content: center;
    font-family: 'Oswald', sans-serif; 
    color: #3a638a;
    text-decoration: none;
}

.about-page {
    font-family: 'Oswald', sans-serif; 
    color: #3a638a;
    display: flex;
    justify-content: center;
}

.about-paragraph {
    font-size: 20px;
    width: 600px;
}